$color:#9b80ce;


@font-face {
    font-family: 'segoe ui';
    src: url(./font/bold.ttf) format("truetype");
}

@font-face {
    font-family: 'segoe ui';
    src: url(./font/bold_italic.ttf) format("truetype");
}

@font-face {
    font-family: 'segoe ui';
    src: url(./font/italic.ttf) format("truetype");
}

@font-face {
    font-family: 'segoe ui';
    src: url(./font/light.ttf) format("truetype");
}

@font-face {
    font-family: 'segoe ui';
    src: url(./font/regular.ttf) format("truetype");
}


.line {
    width: 100%;
    background-color: $color;
    padding: 0.5%;
}

#menu {
    .row {
        .col-md-4 {
            img {
                margin-top: 3%;
                margin-left: 20%;
            }

            h2 {
                margin-top: 7%;
                color: $color;
                font-family: "Times new Roman";
                font-style: "regular";
                font-size: 270%;
            }
        }

        .col-md-8 {
            .nav {
                margin-top: 5%;

                a {
                    text-decoration: none;
                }

                img {
                    width: auto;
                    height: 50%;
                    margin-top: 0.5%;
                    margin-left: 5%;
                }

                .text_menu {
                    color: $color;
                    font-family: "segoe ui";
                    font-style: " regular";
                    font-size: 170%;
                }
            }
        }
    }
}

@media (min-width:360px) and (max-width:810px) {
    #menu {
        .row {
            .col-md-8 {
                .nav {
                    margin-top: 5%;
                    margin-left: 10%;

                    a {
                        text-decoration: none;
                    }

                    img {
                        width: 5%;
                        height: 5%;
                    }

                    .text_menu {
                        color: $color;
                        font-family: "segoe ui";
                        font-style: "regular";
                        font-size: 60%;
                        margin-top: 10%;
                    }
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1020px) {
    #menu {
        .row {
            .col-md-4 {
                img {
                    margin-left: 0%;
                    margin-top: 0%;
                }
            }
        }
    }
}

#carouselExampleControls {
    width: 70%;
    height: auto;
    margin-left: 15%;

    .carousel-control-prev {
        width: 3%;
        height: auto;
        margin-top: 20%;
    }

    .carousel-control-next {
        width: 3%;
        height: auto;
        margin-top: 20%;
    }
}

#content {
    margin-top: 5%;

    hr {
        width: 50%;
        height: auto;
    }

    p {
        width: 50%;
        margin-left: 25%;
        font-family: "segoe ui";
        font-style: "italic";
        font-size: 150%;

        strong {
            color: $color;
            font-style: normal;
        }
    }

    .row {
        margin-top: 3%;

        .part_1 {
            img {
                margin-left: 30%;
            }

            p {
                margin-top: 18%;

                strong {
                    color: black;
                    font-family: "segoe ui";
                    font-style: "bold";
                }
            }
        }

        .part_2 {
            p {
                font-family: "segoe ui";
                font-style: "regular";
                margin-left: 0%;
                width: auto;
                height: 30%;
                margin-right: 10%;
            }

            .nav {
                margin-top: 27%;
                margin-left: 70%;

                img {
                    width: 10%;
                    height: 10%;
                    margin-top: 7%;
                    margin-left: 5%;
                }

                a {
                    text-decoration: none;

                    h3 {
                        font-family: "segoe ui";
                        font-style: "italic";
                        font-size: 100%;
                        color: $color;
                        margin-top: 12%;
                    }
                }
            }
        }
    }
}

@media (min-width:360px) and (max-width:810px) {
    #content {
        p {
            width: auto;
            padding: 0.2%;
            margin-left: 5%;
        }

        .row {
            .part_1 {
                width: 50%;

                img {
                    width: 60%;
                    height: auto;
                    margin-left: 0%;
                }

                p {
                    font-size: 100%;
                    margin-top: 20%;
                    margin-left: 0%;
                    width: 120%;
                }
            }

            .part_2 {
                width: 50%;
                height: 20%;

                h2 {
                    font-size: 100%;
                    margin-left: 0%;
                }

                p {
                    font-size: 80%;
                    margin-left: 0%;
                    width: 130%;
                    height: auto;
                }

                .nav {
                    margin-left: 30%;
                    margin-top: 0%;

                    img {
                        margin-top: 17%;
                    }
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1020px) {
    #content {
        .row {
            .part_2 {
                .nav {
                    margin-left: 60%;
                    margin-top: 20%;

                    a {
                        margin-top: 11%;
                    }

                    img {
                        margin-top: 22%;
                    }
                }
            }
        }
    }
}

@media (min-width:1024px) and (max-width:1360px) {
    #content {
        .row {
            .part_1 {
                img {
                    margin-left: 0%;
                }

                p {
                    margin-left: 0%;
                    margin-top: 80%;
                    width: 100%;
                }
            }

            .part_2 {
                .nav {
                    margin-top: 70%;

                    img {
                        margin-top: 10%;
                    }
                }
            }
        }
    }
}

#images {
    margin-top: 5%;
    margin-left: 20%;
    border: 1px;
    width: 70%;

    img {
        margin-left: 5%;
    }
}

@media (min-width:360px) and (max-width:810px) {
    #images {
        width: 100%;
        margin-left: 0%;

        img {
            margin-left: 7%;
            width: 15%;
        }
    }
}

@media (min-width:1024px) and (max-width:1360px) {
    #images {
        width: 100%;
        margin-left: 0%;
    }
}

@media (min-width:768px) and (max-width:1020px) {
    .line {
        width: 107%;
    }

    #images {
        width: 110%;
        margin-left: 0%;
    }
}

#footer {
    margin-top: 10%;
    width: auto;
    height: 10%;

    .row {
        .part_1 {
            h2 {
                margin-left: 20%;
                font-family: "segoe ui";
                font-style: "light";
                font-size: 120%;
            }
        }

        .part_2 {
            .nav {
                margin-left: 70%;

                a {
                    margin-left: 10%;
                }
            }
        }
    }
}


@media (min-width:360px) and (max-width:810px) {
    #footer {
        .row {
            .part_1 {
                width: 50%;

                h2 {
                    font-size: 50%;
                    margin-left: 0%;
                    margin-top: 5%;
                }
            }

            .part_2 {
                margin-top: 0%;
                width: 50%;

                .nav {
                    margin-top: 0%;
                    margin-left: 40%;

                    img {
                        width: 50%;
                        margin-left: 0%;
                    }
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:1020px) {
    #footer {
        margin-top: 20%;
        width: 110%;

        .row {
            .part_1 {
                h2 {
                    margin-left: 30%;
                }
            }

            .part_2 {
                .nav {
                    margin-left: 50%;
                }
            }
        }
    }
}